<a href="{% url 'acceuil' %}"><h1>Acceuil</h1></a>&nbsp; ||
<a href="{% url 'ajouter_pharmacie_form' %}">Pharmacies</a>&nbsp; ||
<a href="{% url 'charger_produit_avec_fichier' %}">Charger Produits</a>&nbsp; ||
<a href="{% url 'localisation_et_calcule_de_distance' %}">Localisation Et Distances</a>&nbsp; ||
<a href="{% url 'charger_liste_tour_de_garde' %}">Charger Liste De Garde</a>&nbsp; ||
<a href="{% url 'charger_liste_tour_de_garde_com5' %}">Charger Liste De Garde Commune 5</a>&nbsp; ||
<a href="{% url 'charger_liste_pharmacie' %}">Charger Liste Pharmacie</a>&nbsp; ||
<a href="{% url 'liste_pharmacie_garde' %}">Liste Pharmacie de Garde</a>&nbsp; ||


