{% block content %}

<table class="table table-sm">
    <tr>
        <th>Désignation</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Ville</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>

    {% for p in pharmacie %}
        <tr>
            <td>{{ p.designation }}</td>
            <td>{{ p.adresse }}</td>
            <td>{{ p.ville }}</td>
            <td>{{ p.latitude }}</td>
            <td>{{ p.longitude }}</td>
            <td><a href="{% url 'editer_pharmacie_form' p.id  %}">Editer</a></td>
            <td><a href="{% url 'supprimer_pharmacie_form' p.id  %}">Supprimer</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}